<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="css/login.css" />
  </head>
  <body>
<div class="screen-1">
  <h1 class="hh1">Register your email</h1>
    <form action="/signup" method="post">
      <div class="email input-box">
        <label for="email">Email Address</label>
        <input type="email" name="name" placeholder="abc@gmail.com" />
      </div>
      <div class="password input-box">
        <label for="password">Password</label>
        <input
          class="pas"
          type="password"
          name="password"
          placeholder="********"
        />
      </div>
      <input class="sub login btn" type="submit" value="Sign Up" />
      <div class="register-link">
      <a href="/">Go back to login page</a>
      </div>
      </div>
    </form>

  </body>
</html>